body{
    background-image: url("marios-wallpaper.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;

}
img.mario{
    position: absolute;
    bottom: 70px;
    left: 50px;
}

img.donkeyKong{
    position: absolute;
    bottom: 70px;
    right: 50px;
}

img.princessMario{
    position: absolute;
    bottom: 70px;
    right: 50px;
}

.buttons{
    position: absolute;
    top:100px;
    left:400px;
    right: 400px;

}
button{
    filter: opacity(80%);
    background-color: darkgoldenrod;
    width: 90px;
    height: 28px;
    font-size: 15px;
}

/*shake*/

.shakeCSS{
    animation: shakeItBaby .1s 4;
}
@keyframes shakeItBaby {
    25%{
        transform: translateX(-10px);
    }
    75%{
        transform: translateX(10px);
    }
}

/*jumping*/

.jumpingCSS{
    animation: onlyJump 3s linear infinite;
}
@keyframes onlyJump {
    10%{
        transform: translate(100px, -80px);
    }
    20%{
        transform: translate(200px, 0px);
    }
    30%{
        transform: translate(300px, -80px);
    }
    40%{
        transform: translate(400px, 0px);
    }
    50%{
        transform: translate(500px, -80px);
    }
    60%{
        transform: translate(400px, 0px);
    }
    70%{
        transform: translate(300px, -80px);
    }
    80%{
        transform: translate(200px, 0px);
    }
    90%{
        transform: translate(100px, -80px);
    }
}

/*move*/

.moveCSS{
    animation: moveKey 3s linear infinite;
}
@keyframes moveKey {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(3000px);
    }
}

/*scale*/

.scaleCSS{
    animation: scaleKey 2s linear infinite;
}
@keyframes scaleKey {
    50%{
        transform: scale(0);
    }
}

/*fade*/

.fadeCSS{
    animation: fadeKey 3s linear infinite;
}
@keyframes fadeKey {
    50%{
        opacity: 0;
    }
    100%{
        opacity: 10;
    }
}

/*glow*/

.glowCSS{
    animation: glowKey 3s linear 5;
}
@keyframes glowKey {
    30% {
        filter: drop-shadow(15px -10px 10px rgba(255, 255, 1, 1));
    }
}

/*move2zero*/

.move2zeroCSS{
    animation: move2zeroKey 3s ease-out 3;
}
@keyframes move2zeroKey {
    to {
        transform: translate(0px, -4000px);
    }
}

/*fall*/

.fallCSS{
    animation: fallKey .8s ease-in 3;
}
@keyframes fallKey {
    from{
        transform: translateY(-30px);
    }
    to {
        transform: translateY(400px);
    }
}

/*rotate*/

.rotateCSS {
    animation: rotateKey .5s linear 3;
}

@keyframes rotateKey {
    to {
        transform: rotateZ(-360deg);
    }
}


/*jump*/

.jumpCSS{
    animation: oneJump .7s linear 3;
}
@keyframes oneJump {
    50% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

/*move2-30%*/

.moveToCSS{
    animation: moveTo 1.5s ease-in 3;
}
@keyframes moveTo {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(30vw);
    }
}

/*moveFrom30%*/

.moveFromCSS{
    animation: moveFrom 2s linear 3;
}
@keyframes moveFrom {
    from{
        transform: translateX(30vw);
    }
    to{
        transform: translateX(3000px);
    }
}


/*speak*/

.speakCSS{
    animation: speakKey .5s linear 3;
}
@keyframes speakKey{
    from{
        transform: rotateZ(-10deg);
    }
    to{
        transform: rotateZ(10deg);
    }

}

/*mirror*/

.mirrorCSS{
    animation: mirrorKey 1s linear 1 forwards;

}
@keyframes mirrorKey {
    33% {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(-1);
    }



}

/*!!!!!!!!FIGHT!!!!!!!*/

#donkey{
    right: -400px;
}
#princess{
    right: -400px;
}
.donkeyKongCSS {
    animation: fightKey ease-out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes fightKey {

    20%{
        transform: translateX(-1000px);
    }
    99%{
        transform: translate(-1000px, 0px);
    }
    to{
        transform: translate(-1000px, 300px);
    }




}

.marioCSS {
    animation: fightMKey 4s ease-out forwards;
}
@keyframes fightMKey {
    40%{
        transform: translateX(200px);
    }
    50%{
        transform: translate(350px, -150px);
    }
    60%{
        transform: translate(450px, -300px);
    }
    70%{
        transform: translate(450px, -150px);
    }
    75%{
        transform: translate(450px, -300px);
    }
    80%{
        transform: translate(450px, -150px);
    }
    85%{
        transform: translate(450px, -300px);
    }
    90%{
        transform: translate(450px, -150px);
    }
    95%{
        transform: translate(450px, -300px);
    }
    100%{
        transform: translate(450px, 0px);
    }

}

.princessCSS{
    animation: kissing forwards;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
@keyframes kissing {
    to{
        transform: translateX(-1000px);
    }


}







